BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
AlignConsecutiveDeclarations: true

ColumnLimit: 0

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
